################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/1_BasicUsage/bin/Debug
/1_BasicUsage/obj/x86/Debug
/2_VisitorPattern/obj/x86/Debug
/3_ScriptTokens/obj/x86/Debug
/4_TSQLValidation/obj/x86/Debug
/5_TSQLFormatter/obj/x86/Debug
/6_TSQLVisualizer/obj/x86/Debug
/1_BasicUsage/obj/Debug
/2_VisitorPattern/bin/Debug
/2_VisitorPattern/obj/Debug
/3_ScriptTokens/obj/Debug
/4_TSQLValidation/bin/Debug
/4_TSQLValidation/obj/Debug/TempPE
/4_TSQLValidation/obj/Debug
/5_TSQLFormatter/obj/Debug
/6_TSQLVisualizer/bin/Debug
/6_TSQLVisualizer/obj/Debug
/packages
